
mixin sidebar
  nav#sidebar.active
    .sidebar-header
      h3 Hazem Gharib
    ul.list-unstyled.components
      p Full Stack Developer
      
      // li.active
      li
        a(href='/profile') Profile
        //- a(href='#homeSubmenu' data-toggle='collapse' aria-expanded='false') Profile
        //- ul#homeSubmenu.collapse.list-unstyled
        //-   li
        //-     a(href='/profile') Profile 1
        //-   li
        //-     a(href='/profile') Profile 2
        //-   li
        //-     a(href='/profile') Profile 3
      li
        a(href='/contact') Contact
      li
        a(href='/experience') Previous Experience
      li
        a(href='/portfolio') Portfolio
      li
        a(href='/skills') Skills

head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title= title
  
  // Bootstrap CSS CDN
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  // Custom CSS
  link(rel='stylesheet' href='/styles/style.css')
  
  // Favicon
  link(rel="SHORTCUT ICON", href="/favicon.ico")
  link(rel="icon", href="/favicon.ico", type="image/ico")


.wrapper
  // Sidebar Holder
  +sidebar
  
  // Page Content Holder
  #content.container-fluid
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button#sidebarCollapse.active.navbar-btn(type='button')
            span
            span
            span
          
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/profile') Profile
            li
              a(href='/contact') Contact
            li
              a(href='/experience') Previous Experience
            li
              a(href='/skills') Skills
      
      
    block content
// jQuery CDN
script(src='https://code.jquery.com/jquery-1.12.0.min.js')
// Bootstrap Js CDN
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
script(type='text/javascript').
  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
      $(this).toggleClass('active');
    });
  });
