<img id="profileImage" src="http://localhost:3000/img/20994086_10209811703393555_4189187983330973057_n.jpg" alt="Hazem Gharib" />
<br/>
<br/>
<h2>Hazem Gharib</h2>
<p>Full Stack Developer</p>
<div class="line"></div>
<h2>Summary</h2>
<p>
  My journey in software development started 4 years ago through working on field, but my passion towards software was way before that. As a senior full stack .Net developer with a good understanding of new front end frameworks and my passion to be updated with the latest form of technologies I believe that I would be the best fit for any organisation.
</p>